<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Clicker</title>
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
</div>
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
<h1>Edit your clicker here!</h1>


<%= render 'form' %>


<%= link_to 'Show', @clicker %> 
|
<%= link_to 'Back', clickers_path %>

</div>
</div>
<!-- end page -->
</body>
</html>