<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Clicker</title>
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
</div>
<div id="page">
	<!-- start content -->
	<div id="content">
</br></br>
<table>
<tr>
<h2> <a href="clickers">Professors click here!</a> </h2>
</tr><tr>
<h2> <a href="<%= @direct %>/exam">Students click here!</a></h2>
</tr>
</table>
</div>
		
	</div>
</div>
<!-- end page -->
</body>
</html>
